*{
    box-sizing: border-box;
    outline: none;
}
html{
    overflow-x: hidden;
}
button{
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
ul{
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #181c23;
}
h3, h2, h4, h1{
    text-transform: uppercase;
}
.burger-menu{
    z-index: 40;
}
.bg-container{
    background-image: url(images/bg-top-3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    max-width: 1140px;
}
.image-container{
    position: relative;
    max-height: 197px;
    max-width: 350px;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
}
/* /////////// */





.bloglist-line{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.bloglist-line span{
    display: block;
    font-size: 28px;
    padding-right: 20px;
    font-weight: bold;
    flex: auto;
}
.bloglist-line::after{
    content: "";
    display: block;
    flex: 100;
    border-bottom: 4px solid #dd163b;
    transform: translateY(-12px);
}
.blog-upper{
    margin-bottom: 40px;
}
.image-container img{
    max-width: 350px;
    height: auto;
    border-radius: 6px;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.image-container img:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}
.blog-bottom{
    display: grid;
    grid-template-areas: "a a";
    grid-gap: 40px;
    margin: 0 auto;
}
.blog-title{
    display: block;
    font-size: 18.5px;
    font-weight: bold;
    font-family: 'Montserrat' sans-serif;
    margin-top: 20px;
    transition: color .3s;
}
.blog-title:hover{
    color: #dd163b;
    transition: color .3s;
}
.blog-item{
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.blog-item::after{
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    margin: 0 auto;
    background-color: rgba(56, 56, 56, 0.7);
}
.blog-item-right p{
    color: #A0A7AB;
    font-size: 14px;
}
.sent-by{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.sent-by img{
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
}
.sent-by span{
    transform: translateY(10px);
    margin-left: 10px;
}
.sent-by span .red{
    color: #dd163b;

}

/* pagination */
.pagination{
    margin: 0 auto;
    text-align: center;
}
.pagination-inner{
    display: flex;
    justify-content: center;
}
.pagination-inner a{
    transition: color .3s;
}
.pagination-inner a:hover{
    color: #dd163b;
    transition: color .3s;
}
.number{
    font-size: 23.8px;
    padding: 0 15px;
    font-weight: bold;
}
.number:first-child{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #dd163b;
    border: 4px solid #dd163b;
    border-radius: 100%;
}
.fas{
    font-size: 30px;

}
.fas:first-child{
    margin-right: 10px;
}
/* ^pagination^ */


/* FOOTER | ПОДВАЛ */
footer{
    margin-top: 80px;
    background: url('/images/bg-bottom.png');
    background-repeat: no-repeat;
    background-position: 0 -60px;
    
}
.footer-container{
    background-color: rgba(18,21,26,.8);
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer-upper{
    max-width: 1100px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    
}
input{
    margin-bottom: 10px;
}
.input-left{
    margin-right: auto;
    width: 48%;
}
.input-right{
    width: 48%;
    float: right;
}
input, textarea{
    background: transparent;
    border: 1px solid #313947;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
}

.forms h4{
    font-size: 17px;
}
.footer-red{
    color: #dd163b;
}
.send{
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 7px 12px;
    font-size: 14px;
    color: #181C23;
}
.twitter{
    margin-left: 25px;
}
.twitter h4{
    font-size: 17px;
}
.twitter-icon{
    width: 19px;
    height: 14px;
}
.footer-two-row{
    margin-left: 30px;
    position: relative;
    top: -17px;
}
.footer-info-upper{
    margin-bottom: 10px;
}
.footer-info-bottom a:hover{
    color: #dd163b;
}
.footer-info-upper span{
    color: #6D7581;
}



.footer-copyright{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-bottom-container{
    background-color: #000;
}
.copyright{
    font-size: 14px;
}
.footer-socials{
    display: flex;
    float: right;
    position: relative;
    top: -20px;

}
.footer-social-item img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
    filter: grayscale(1);
    transition: all .3s;
    cursor: pointer;
}
.footer-social-item img:hover{
    filter: none;
    transition: all .3s;
}
/* ^FOOTER | ПОДВАЛ^ */



@media(max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .footer-upper{
        max-width: 960px;
    }
    .footer-copyright{
        max-width: 960px;
    }
}
@media(max-width: 992px){
    .container{
        max-width: 720px;
    }
    .footer-upper{
        max-width: 720px;
    }
    .footer-copyright{
        max-width: 720px;
    }
    .forms, textarea{
        width: 100%;
    }
}
@media(max-width: 770px){
    .container{
        max-width: 540px;
    }
    .footer-upper{
        max-width: 540px;
    }
    .footer-copyright{
        max-width: 540px;
    }
    .blog-bottom-right{
        display: none;
    }
    .twitter{
        max-width: 50%;
    }
}
@media(max-width: 540px){
    .container{
        max-width: 90%;
    }
    footer{
        background: url('/images/bg-bottom.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .footer-upper{
        max-width: 90%;
        flex-direction: column;
    }
    .footer-copyright{
        max-width: 90%;
    }
    .twitter{
        max-width: 90%;
    }
}
@media(max-width: 450px){
    .footer-copyright{
        display: grid;
        grid-template-areas:
        "a"
        "b";
        grid-gap: 10px;
    }
    .copyright{
        grid-area: "a";
    }
    .footer-socials{
        grid-area: "b";
        position: static;
    }
}
@media(max-width: 380px){
    .container{
        max-width: 300px;
    }
    .blog-item{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .image-container img{
        max-width: 300px;
    }
    .pagination-inner{
        display: grid;
    }
    .pagination-numbers{
        display: flex;
        align-items: center;
    }
}
