*{
    box-sizing: border-box;
    color: #b9b7c0;
    font-family: "Quicksand";
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
}
body{
    font-family: "Quicksand";
}
h1{
    font-family: "Quicksand";
}
h1,h2,h3,h4{
  margin: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.red{
  color: #D31C3E;
}


button{
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
ul{
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #181c23;
}
h3, h2, h4, h1{
    text-transform: uppercase;
}
/* ЗАГАЛЬНІ СТИЛІ КІНЕЦЬ^*/

.container{
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}


/* .bg-banner{
    background: url(images/bg-1.jpg);
    background-position: 0 -80px;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .bg-banner-img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
    background: rgba();
}
.banner{
    object-fit: cover;
    object-position: 50% 50%;
    max-width: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    margin-top: -24px;
    filter: brightness(60%);
    transform: translate3d(0px, 23.9813px, 0px);
} */


.section-first{
  height: 100vh;
  max-height: 100vh;   
  z-index: 13;
}
.section-first-container{
  height: 100vh;
}
.jarallax-header {
  position: relative;
  z-index: 0;
  
  height: 100vh;
}
.jarallax-header > .jarallax-img {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
/* .header-filter{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}
.second-header-filter{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.05);
} */
.first-container{
  position: relative;
  display: flex;
  align-items: center;
  top:37%;
  bottom: 50%;
}
.row{
  max-width: 850px;   
}
.first-container h1{
  font-weight: 600;
  color: #fff;
  font-size: 3rem;
  color: #ffe6e6;
  letter-spacing: .01em;
}
.row h1{
  margin-bottom: 30px;
}
.row p{
  color: #B9B7C0;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 45px;
}
.section-first-buttons{
  display: flex;
    
}
[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 130px;
    padding-bottom: 40px;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: color .01s;
  }
  .btn-0{
    background-color: #D31C3E;
    transform: skew(-4deg);
    
    border-radius: 2px;
  }
  .btn-0 p{
    color: #fff;
    position: absolute;
    top: -6px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    transition: color .15s;
  }
  .btn-0:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    background-color: #fff;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%); 
    transition: transform .3s;
  }
  .btn-0:hover p{
    position: absolute;
    color: #000;
    z-index: 1000;
    transition: color .15s;
  }
  .btn-0:hover:before {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }



  .btn-01{
    background-color: #fff;
    transform: skew(-4deg);
    border-radius: 2px;
    padding: 0;
    margin-left: 30px;
  }
  .btn-01 p{
    color: #000;
    position: absolute;
    top: -6px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    transition: color .15s;
  }
  .btn-01:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #D31C3E;
    border: none;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
            
    transition: transform .3s;
  }
  .btn-01:hover p{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
    transition: color .15s;
  }
  .btn-01:hover:before {
    
    -webkit-transform: translateX(0);
            transform: translateX(0);
            
  }

/* DEMO */

.demo-section{
  background-color: #1f1d29;
  position: relative;
  padding-bottom: 80px;
} 
.demo-container{
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 160px;
}
.demos-header{
  text-align: center;
  max-width: 455px;
  margin: 0 auto;
}
.demos-header h1{
  font-size: 40px;
  margin-bottom: 32px;
}
.demos-header p{
  font-size: 22px;
  margin-bottom: 60px;
}
.demos{
  text-align: center;
  padding-bottom: 60px;
}
.demo-grid{
  display: grid;
  grid-template-areas: "a a"
  "a a";
  margin: 0 auto;
  justify-content: space-between;
}
.demos a{
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 16px;
}
.demos p{
  font-size: 18px;
  margin-bottom: 28px;
  line-height: 1.8;
}
.demo{
  height: 620px;
  width: 540px;
  border-radius: 6px;
  
  background: url('/Portfolio-pages/MonsterPlay/images/demo-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position .4s ease-out; 
  margin-bottom: 30px;
}
.demo:hover{
  background-position: 0 65%;
  transition: background-position .4s ease-out; 
}

.demos:nth-child(2) .demo{
  background: url('/Portfolio-pages/MonsterPlay/images/demo-shooter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position .4s ease-out;
}
.demos:nth-child(2) .demo:hover{
  background-position: 0 65%;
  transition: background-position .4s ease-out;
}

.demos:nth-child(3) .demo{
  background: url('/Portfolio-pages/MonsterPlay/images/demo-studio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position .4s ease-out;
}
.demos:nth-child(3) .demo:hover{
  background-position: 0 65%;
  transition: background-position .4s ease-out;
}

.demos:nth-child(4) .demo{
  background: url('/Portfolio-pages/MonsterPlay/images/demo-gamer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position .4s ease-out;
}
.demos:nth-child(4) .demo:hover{
  background-position: 0 65%;
  transition: background-position .4s ease-out;
}
.demo a, .demos-header h1{
  color: #fff;
}


.btn-demo{
  padding-bottom: 35px;
  width: 110px;
  margin: 0 auto;
  background-color: #D31C3E;
  transform: skew(-4deg);
  
  border-radius: 2px;
}
.btn-demo p{
  color: #fff;
  position: absolute;
  top: -8px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  transition: color .15s;
}
.btn-demo:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%); 
  transition: transform .3s;
}
.btn-demo:hover p{
  position: absolute;
  color: #000;
  z-index: 1000;
  transition: color .15s;
}
.btn-demo:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-features{
  background: #211F2C;
  padding: 160px 0;
}
.features-container{
  max-width: 1170px;
  margin: 0 auto;
}
.features-container h2{
  text-align: center;
  margin-bottom: 60px;
  font-size: 48px;
  color: #fff;
}
.features{
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 30px;
}
.features-item{
  display: block;
  max-width: 370px;
  width: 100%;
  height: 288px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 40px 30px;
}
.features-item:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282535;
  border-radius: 6px;
  transition: background-color .3s ease-out;
  transform: skew(-3deg);
  z-index: -1;
}
.features-item:hover:before{
  background-color:#302c3d;
  transition: background-color .3s ease-in;
}
.feature{
  position: relative;
  left: 115px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: rgba(255,255,255,.05);
  margin-bottom: 26px;
}
.features-item h4{
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}
.features-item p{
  font-size: 16px;
}
.feature svg{
  position: inherit;
  left: 0;
  right: 0;
  top: 25px;
}
.icon{
  width: 28px;
  height: 28px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  
}



/* BLOG */


.blog-page{
  background-color: #1f1d29;
}
.blogpage-container{
  max-width: 1170px;
  min-height: 900px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.back-image img, .front-image img{
  max-width: 408px;
  max-height: 530px;
  border: 4px solid #282535;
  border-radius: 10px;
}
.blogpage-left{
  display: flex;
  position: relative;
  max-width: 700px;
}
.blogpage-right{
  align-self: center;
  padding: 0 30px 60px;
  max-width: 500px;
}
.blogpage-right h1{
  font-size: 48px;
  color: #fff;
  margin-bottom: 32px;
}
.blogpage-right p{
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.front-image{
  position: absolute;
  z-index: 5;
  left: 220px;
  top: 160px;
}


.btn-blog{
  padding-bottom: 45px;
  width: 130px;
  background-color: #D31C3E;
  transform: skew(-4deg);
  
  border-radius: 3px;
}
.btn-blog p{
  color: #fff;
  position: absolute;
  top: -4px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  transition: color .15s;
}
.btn-blog:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%); 
  transition: transform .3s;
}
.btn-blog:hover p{
  position: absolute;
  color: #000;
  z-index: 1000;
  transition: color .15s;
}
.btn-blog:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}


/* E-commerce */

.e-commerce{
  background-color: #211F2C;
}
.e-commerce_container{
  max-width: 1170px;
  min-height: 900px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.left-commerce{
  align-self: center;
  padding: 0 30px 60px;
  padding-left: 0;
  max-width: 500px;
}
.commerce-header h1{
  font-size: 48px;
  margin-bottom: 32px;
  color: #fff;
}
.commerce-info{
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 500;
}

.right-commerce{
  width: 100%;
  display: flex;
  position: relative;
  padding-left: 60px;
}
.back-com_img img, .front-com_img img{
  border: 4px solid #282535;
  border-radius: 10px;
}
.behind-com_image{
  position: relative;
  right: 30px;
  height: 550px;
  width: 412px;
}

.front-com_image{
  position: absolute;
  height: 700px;
  width: 538px;
  z-index: 5;
  right: -190px;
  bottom: 75px;
}



.btn-blog p{
  color: #fff;
  position: absolute;
  top: -1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  transition: color .15s;
}


/* eSports */

.esports{
  background-color: #1f1d29;
}
.esports-container{
  max-width: 1170px;
  min-height: 900px;
  margin: 0 auto;
  padding: 100px 0;
  
}
.esports-top{
  margin: 0 auto;
  text-align: center;
}
.esports-header h2{
  font-size: 48px;
  color: #fff;
  text-transform: unset;
  margin-bottom: 32px;
}
.esports-text{
  font-size: 22px;
  margin-bottom: 22px;
}



.btn-e{
  padding-bottom: 45px;
  width: 130px;
  background-color: #D31C3E;
  transform: skew(-4deg);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 3px;
}
.btn-e p{
  color: #fff;
  position: absolute;
  top: -1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  transition: color .15s;
  text-transform: uppercase;
}
.btn-e:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%); 
  transition: transform .3s;
}
.btn-e:hover p{
  position: absolute;
  color: #000;
  z-index: 1000;
  transition: color .15s;
}
.btn-e:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.esports-bottom{
  position: relative;
  margin-top: 60px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-img{
  position: absolute;
  left: -200px;
  top: 7%;
}
.right-img{
  position: absolute;
  right: -200px;
  
  z-index: 2;
  top: 7%;
  bottom: 50%;
  
}
.left-img img, .right-img img{
  border: 4px solid #282535;
  border-radius: 10px;
  width: 620px;
}
.center-img{
  z-index: 9;
}
.center-img img{
  width: 730px;
  height: 430px;
  border: 4px solid #282535;
  border-radius: 10px;
}


/* Forum */

.forum{
  background-color: #211F2C;
}
.forum-container{
  max-width: 1170px;
  min-height: 750px;
  margin: 0 auto;
  padding: 50px 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.forum-left{
  align-self: center;
  padding: 0 30px 60px;
  padding-left: 0;
  max-width: 500px;
}
.forum-header h1{
  font-size: 48px;
  margin-bottom: 32px;
  color: #fff;
}
.forum-info{
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 500;
}

.forum-right{
  width: 100%;
  display: flex;
  position: relative;
  padding-left: 60px;
}
.back-forum_img img, .front-forum_img img{
  border: 4px solid #282535;
  border-radius: 10px;
}
.back-forum_image{
  height: 370px;
  width: 535px;
  position: relative;
  top: 80px;
  right: 70px;
  left: 0;
}

.front-forum_image{
  position: absolute;
  z-index: 5;
  right: -180px;
  bottom: 120px;
  height: 370px;
  width: 535px;
}


/* JOURNEY */


.jarallax {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 650px;
}
.jarallax > .jarallax-img {
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.filter{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}
.second-filter{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.05);
}
.journey-container{
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  
}
.journey-header h2{
  font-size: 35px;
  margin-bottom: 32px;
  color: #fff;
}
.journey-info{
  font-size: 22px;
  margin-bottom: 45px;
  font-weight: bold;
}

.journey-btn button{
  margin: 0 auto;
}
[class^="btn-blog"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 160px;
  padding-bottom: 45px;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: color .01s;
}
.btn-blog p{
  color: #fff;
  position: absolute;
  top: -4px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  transition: color .15s;
  text-transform: uppercase;
}

.footer{
  position: relative;
  height: 400px;
  color: #fff;
}
.jarallax-img{
  margin-top: 30%;
  object-position: 50% 0%;
}
.socials-container{
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
}
.items-container{
  display: flex;
  justify-content: space-between;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.socials-info, .social-icon_bg{
  display: block;
}
.socials-icon_bg{
  position: relative;
}
.socials-icon_bg{
  position: relative;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 100px;
  background-color: rgba(31,29,41,.9);
  transform: skew(-4deg);
  border-radius: 6px;
}
.socials-icon_bg:hover{
  background-color: rgba(31,29,41,1);
}
.icon{
  position: absolute;
  width: 34px;
  height: 34px;
  transform: skew(4deg);
  bottom: 50%;
  top: 34%;
}
.socials-info p{
  color: #fff;
  font-size: 18px;
  margin-top: 18px;
  font-weight: bold;
}


.bottom-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background: #232129;
}
.bottom-footer p{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 1570px){
  .behind-com_image{
    width: 360px;
    height: 480px;
    top: 100px;
  }
  .front-com_image{
    height: 615px;
    width: 475px;
    top: 38px;
    right: -90px;
  }
  .back-forum_image, .front-forum_image{
    height: 280px;
    width: 410px;
  }
  .front-forum_image{
    right: -80px;
    bottom: 180px;
  }

  .right-img{
    top: 55px;
    right: 0px;
    width: 33%;
  }
  .right-img img{
    width: 100%;
  }
  .center-img{
    position: relative;
  }
  .center-img img{
    width: 620px;
    height: 365px;
  }
  .left-img{
    top: 55px;
    left: 0;
  }
  .left-img img{
    width: 33%;
  }

}
@media (max-width: 1350px){
  .front-com_image{
    width: 408px;
    height: 530px;
    right: 15px;
    top: 45px;
  }
  .behind-com_image{
    width: 312px;
    height: 416px;;
  }
  .front-forum_image{
    bottom: 220px;
    right: 0px;
  }

}
@media (max-width: 1200px){
  .container{
    max-width: 970px;
  }
  .demo-container{
    max-width: 970px;
  }
  .demo{
    width: 440px;
    height: 505px;
  }
  .features-container{
    max-width: 970px;
  }
  .feature{
    left: 80px;
  }
  .features-item:nth-child(2) .feature{
    left: 90px;
  }
  .features-item:nth-child(5) .feature{
    left: 90px;
  }
  .blogpage-container{
    max-width: 970px;
    min-height: 750px;
    padding-bottom: 0;
  }
  .back-image img, .front-image img{
    max-width: 330px;
    max-height: 430px;
  }
  .front-image{
    z-index: 5;
    left: 180px;
    top: 130px
  }
  .blogpage-right{
    max-width: 360px;
  }
  .e-commerce_container{
    max-width: 970px;
    min-height: 700px;
    padding-top: 0;

  }
  .left-commerce{
    max-width: 415px;
  }
  .front-com_image{
    width: 332px;
    height: 430px;
    top: 120px;
  }
  .behind-com_image{
    width: 250px;
    height: 340px;
    top: 160px;
  }
  .esports-container{
    min-height: 700px;
  }
  .center-img img{
    max-width: 415px;
    height: 245px;
  }
  .left-img img{
    width: 380px;
    height: 225px;
    top: 90%;
  }
  .right-img img{
    width: 380px;
    height: 225px;
    top: 90%;
  }
  .left-img, .right-img{
    top: 5%;
  }
  .left-img{
    left: 80px;
  }
  .right-img{
    right: 80px;
  }
  .forum-container{
    max-width: 970px;
    min-height: 600px;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .forum-left{
    max-width: 415px;
  }
  .front-forum_image, .back-forum_image{
    width: 330px;
    height: 230px;
  }
  .back-forum_image{
    top: 100px;
  }
  .front-forum_image{
    top: 200px;
  }
}
@media (max-width: 995px){
  .container{
    max-width: 720px;
  }
  .demo-container{
    max-width: 750px;
    padding-top: 140px;
  }
  .demos{
    max-width: 390px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .demo{
    width: 330px;
    height: 379px; 
  }

  .features-container{
    max-width: 720px;
  }
  .features{
    grid-template-areas: "a a";
  }
  .features-item .feature{
    left: 105px;
  }
  .features-item:nth-child(2) .feature{
    left: 110px;
  }
  .features-item:nth-child(4) .feature{
    left: 110px;
  }
  .features-item:nth-child(5) .feature{
    left: 105px;
  }
  .features-item:nth-child(6) .feature{
    left: 110px;
  }
  .blogpage-container{
    max-width: 720px;
    
    display: grid;
    grid-template-areas: "a"
                         "b";
    grid-template-columns: 720px;
    grid-template-rows: 320px;
    min-height: 1300px;
  }
  .blogpage-left{
    grid-area: b;
  }
  .back-image img, .front-image img{
    max-width: 460px;
    max-height: 600px;
  }
  .front-image{
    left: 250px;
    top: 180px;
  }
  .blogpage-right{
    max-width: 720px;
    grid-area: a;
  }


  .e-commerce_container{
    max-width: 720px;
    padding-top: 100px;
    display: grid;
    grid-template-areas: "a"
                         "b";
    grid-template-columns: 720px;
    grid-template-rows: 320px;
    min-height: 1100px;
  }
  .left-commerce{
    max-width: 720px;
    grid-area: a;
  }
  .right-commerce{
    max-width: 720px;
    grid-area: b;
  }
  .behind-com_image{
    width: 350px;
    height: 470px;
    top: 40px;
  }
  .front-com_image{
    width: 460px;
    height: 600px;
    top: -20px;
    right: -20px;
  }


  .esports-container{
    max-width: 720px;
  }
  .center-img img{
    max-width: 315px;
    height: 190px;
  }
  .left-img img, .right-img img{
    max-width: 315px;
    height: 185px;
  }
  .left-img, .right-img{
    top: 1%;
  }
  .left-img{
    left: -40px;
  }
  .right-img{
    right: 40px;
  }


  .forum-container{
    max-width: 720px;
    display: grid;
    padding-top: 100px;
    grid-template-areas: "a"
                         "b";
    grid-template-columns: 720px;
    grid-template-rows: 320px;
    min-height: 1000px;
  }
  .forum-left{
    max-width: 720px;
    grid-area: a;
  }
  .forum-right{
    max-width: 720px;
    grid-area: b;
  }
  .back-forum_image{
    width: 460px;
    height: 315px;
    top: 0px;
  }
  .front-forum_image{
    width: 460px;
    height: 315px;
    top: 140px;
    left: 300px;
  }
}

@media (max-width: 810px){
  .section-first{
    min-height: 800px;
  }
  .section-first-container{
    min-height: 800px;
  }
  .jarallax-header{
    min-height: 800px;
  }
  .container{
      max-width: 500px;
  }
  .demo-container{
    max-width: 500px;
  }
  .demo-grid{
    grid-template-areas: 'a';
    justify-content: center;
  }
  .demos{
    max-width: 100%;
  }
  .demo{
    width: 100%;
    height: 480px;
  }
  .features{
    justify-content: center;
    grid-template-areas: "a";
  }
  .features-item{
    max-width: 470px;
  }
  .features-item .feature{
    left: 165px
  }
  .features-item:nth-child(2) .feature{
    left: 165px;
  }
  .features-item:nth-child(4) .feature{
    left: 165px;
  }
  .features-item:nth-child(5) .feature{
    left: 165px;
  }
  .features-item:nth-child(6) .feature{
    left: 165px;
  }

  .blogpage-container{
    min-height: 1100px;
  }
  .blogpage-left{
    max-width: 500px;
  }
  .blogpage-container, .blogpage-right{
    max-width: 500px;
  }
  .back-image img, .front-image img{
    max-width: 300px;
    max-height: 390px;
  }
  .front-image{
    left: 160px;
    top: 140px;
  }


  .e-commerce_container{
    min-height: 1000px;
  }
  .e-commerce_container, .left-commerce{
    max-width: 500px;
    grid-template-columns: 500px;
  }
  .back-com_img img{
    width: 230px;
    height: 300px;
    left: -60px;
  }
  .front-com_image{
    right: 40px;
    top: 0px;
    width: 300px;
    height: 390px;
  }


  .esports-container{
    max-width: 500px;
  }
  .esports-bottom{
    flex-direction: column;
    justify-content: space-between;
  }
  .left-img, .right-img{
    position: relative;
  } 
  .left-img{
    left: 0px;
    margin-bottom: 30px;
  }
  .center-img{
    z-index: 5;
  }
  .right-img{
    right: -20px;
    width: 100%;
    margin-top: 30px;
  }
  .left-img img, .center-img img, .right-img img{
    width: 460px;
    max-width: 100%;
    height: 270px;
  }


  .forum-container{
    max-width: 500px;
    grid-template-columns: 500px;
    min-height: 850px;
  }
  .forum-left{
    max-width: 500px;
  }
  .back-forum_image{
    width: 300px;
    height: 200px;
    left: -70px;
  }
  .front-forum_image{
    width: 300px;
    height: 200px;
    top: 90px;
    left: 150px;
  }


  .journey-container{
    max-width: 500px;
  }

  .items-container{
    width: 500px;
  }
  .socials-icon_bg{
    width: 95px;
    height: 75px;
  }
  .icon{
    top: 30%;
  }
}

@media (max-width: 550px){
  .first-container{
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    max-width: 100%;
    top: 30%;
  }
  .row{
    max-width: 100%;
    word-wrap: break-word;
  }
  .row h1{
    font-size: 38px;
  }
  .row p{
    font-size: 18px;
  }
  .first-container .row h1{
    color: #fff;
  }
  .section-first-container{
    min-height: 100vh;
  }
  .section-first-buttons{
    justify-content: center;
  }

  .demo{
    max-height: 90%;
    height: 400px;
    max-width: 100%;
  }


  .main-features{
    padding-top: 80px;
  }
  .features-container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 20px;
  }
  .features-item .feature{
    left: 0;
  }
  .feature{
    display: inline-flex;
    justify-self: center;
    left: 0;
    
  }
  .feature .icon{
    margin: 0 auto;
  }
  .features-item:nth-child(2) .feature{
    left: 0px;
  }
  .features-item:nth-child(4) .feature{
    left: 0px;
  }
  .features-item:nth-child(5) .feature{
    left: 0px;
  }
  .features-item:nth-child(6) .feature{
    left: 0px;
  }



  .blogpage-container{
    max-width: 100%;
    grid-template-columns: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 20px;
    grid-template-rows: none;
  }
  .blogpage-left{
    max-width: 100%;
    flex-direction: column;
  }
  .front-image{
    position: relative;
    left: 0;
    top: 0;
  }
  .front-image img{
    max-width: 100%;
    max-height: 100%;
  }
  .back-image{
    padding-bottom: 40px;
  }
  .back-image img{
    max-width: 100%;
    max-height: 100%;
  }


  .e-commerce_container{
    max-width: 100%;
    grid-template-columns: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 20px;
    grid-template-rows: none;
  }
  .right-commerce{
    flex-direction: column;
    max-width: 100%;
    padding-left: 0;
  }
  .back-com_img img{
    width: 100%;
    height: 100%;
    left: 0;
  }
  .back-com_img{
    margin-bottom: 60px;
  }
  .behind-com_image{
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .front-com_image{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .esports-container{
    max-width: 100%;
    grid-template-columns: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 20px;
  }
  .esports-bottom{
    min-width: auto;
    max-width: 100%;
  }
  .left-img img, .center-img img, .right-img img{
    width: auto;
    height: auto;
    max-height: 100%;
  }
  .right-img{
    right: 0;
  }


  .forum-container{
    max-width: 100%;
    grid-template-columns: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 20px;
  }
  .forum-right{
    max-width: 100%;
    flex-direction: column;
    padding-left: 0;
  }
  .back-forum_image{
    max-width: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }
  .front-forum_image{
    position: relative;
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    height: auto;
    bottom: 0;
  }


  .journey-container{
    max-width: 100%;
    padding: 0 20px;
  }

  .socials-container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px;
  }
  .items-container{
    width: 100%;
    display: grid;
    grid-template-areas:
    'a a'
    'a a';
    justify-content: space-around;
  }
}
@media (max-width: 350px){
  .demo{
    background-size: 100%;
  }
  .demos:nth-child(2) .demo{
    background-size: 100%;
  }
  .demos:nth-child(3) .demo{
    background-size: 100%;
  }
  .demos:nth-child(4) .demo{
    background-size: 100%;
  }
}