*{
    box-sizing: border-box;
    color: #b9b7c0;
}
html{
    overflow-x: hidden;
}


button{
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto; 
}
ul{
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: regular;
    margin: 0;
    padding: 0;
    position: relative;
} 
h3, h2, h4, h1{
    text-transform: uppercase;
}
ul, li{
    list-style: none;
    margin: 0;
}
a{
    display: block;
}
a, a:hover{
    
    text-decoration: none;
    color:#FDECEC;
}
/* ЗАГАЛЬНІ СТИЛІ КІНЕЦЬ^*/





header{  
    background-color: rgba(40,37,53,.9);
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 10;
    transition: background-color 0.4s;
}

.menu-container{
    display: flex;
    flex-direction: row;
    align-items: stertch;
    position: relative;
    max-width: 1170px;
    min-height: 100px;
    transition: min-height  0.4s;
    margin: 0 auto;   
}
.menu{
    display: flex; 
    align-items: center;
    position: relative;
    width: 100%;
}

.logo{
    align-items: center;
}

.menu-list-item, .menu-list-item-right{
    padding: 0px 12px;
}
.menu-left{
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-right{
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
}
.search svg, .cart svg, .acc-icon svg{
    width: 18px;
    height: 18px;
    stroke-width: 2;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    transform: translateX(65px);
}
.menu-list-item{
    height: 100%;
}
.menu-list-item a{
    position: relative;
    display: flex;
    height: 100%;
    align-items:center;
}
.item-name{
    font-weight: 600;
    color: white;
}
.menu-list-item a::after{
    position: absolute;
    content: "";
    top: 55%;
    left: -2px;
    width: 110%;
    height: 4px;
    margin: 0 auto;
    background: #d31c3e;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    z-index: -1;
}

.menu-list-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
}
.menu-list-item-right{
    margin: 0 10px;
    top: 0;
}

.icon-search {
  filter: invert(94%) sepia(99%) saturate(14%) hue-rotate(314deg) brightness(104%) contrast(100%);
  width: 18px;
  height: 18px;
}

.icon-search:hover,
.icon-search:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.menu-list-item-right:nth-child(2){
    position: relative;
    top: -5px;
}
.menu-list-item-right:nth-child(3){
    position: relative;
    top: -5px;
}
.menu-list-item-right:nth-child(4){
    position: relative;
    top: -5px;
}
.menu-list-item-right a{
    transition: color 0.3s;
    
}


.dropdown-parent{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 115%;
    right: 5%;
    background-color: #282535;
    border-radius: 8px;
    padding: 20px 25px;
    
}
.dropdown-parent .dropdown{
    visibility: hidden;
    opacity: 0%;
    transition: all .25s;
}

.dropdown::before{
    position: absolute;
    content: "";
    top: -15px;
    right: 0px;
    height: 20px;
    width: 145px;
}
.dropdown-parent:hover .dropdown{
    visibility: visible;
    opacity: 100%;
    
}
.dropdown-item_name{
    font-size: 16px;
    font-weight: bold;
    padding: 6px 6px;
}

.dropdown-item_name::after{
    position: absolute;
    content: "";
    top: 63%;
    left: 5px;
    width: 90%;
    height: 4px;
    margin: 0 auto;
    background: #d31c3e;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    z-index: -1;
}
.dropdown-item_name{
    position: relative;
    z-index: 0;
    transition: color 0.2s;
}

.dropdown-item_name:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.35s;
}
.dropdown-item_name:hover{
    color: white;
    transition: color 0.2s;
}
.adaptive-menu_btn{
    display: none;
}
.mobile-menu{
    display: none;
}
@media (max-width: 1200px){
    .menu-container{
        max-width: 970px;
    }
}
@media (max-width: 995px){
    .menu-container{
        max-width: 720px;
    }
    .menu-list{
        display: none;
    }
    .menu-list-item-right{
        display: none;
    }
    .adaptive-overlay{
        position: fixed;
        visibility: hidden;
        height: 100vh;
        min-width: 100%;
        z-index: 13;
        background-color: rgba(31,29,41,0);
        transition: background-color .4s ease-in-out;
    }
    .adaptive-menu_btn{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 45px;
        height: 45px;
        justify-content: center;
        cursor: pointer;
    }
    .adaptive-menu_btn::before{
        content: "";
        display: block;
        width: 18px;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
        transform: translateX(-2.5px);
        transition: transform 0.2s;
    }
    .adaptive-menu_btn::after{
        content: "";
        display: block;
        width: 18px;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
        margin-top: 7px;
        transform: translateX(2.5px);
        transition: transform 0.3s ease-in-out;
    }
    .adaptive-menu_btn:hover::after{
        transform: translateX(-2.5px);
        transition: transform 0.3s ease-in-out; 
    }
    .adaptive-menu_btn:hover::before{
        transform: translateX(2.5px);
        transition: transform 0.3s ease-in-out; 
    }

    .mobile-menu{
        position: fixed;
        display: block;
        right: -360px;
        top: 0px;
        bottom: 0;
        width: 350px;
        max-height: 100vh;
        z-index: 14;
        background-color: #282535;
        transition: transform .4s ease-in-out;
    }
    .mobile-nav_container{
        max-width: 246px;
        margin: 0 auto;
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .top-mobile_menu{
        max-height: 45px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }
    .mobile-logo{
        max-width: 34px;
    }
    .nav-exit{
        position: relative;
        bottom: 40px;
        width: 40px;
        height: 40px;
        margin-left: auto;
    }
    .nav-exit span{
        position: absolute;
        right: 0;
        width: 8px;
        height: 2px;
        background-color: #b9b7c0;
        border-radius: 2px;
        transition: background-color .2s ease-in-out;
    }
    .nav-exit:hover span{
        background-color: #d31c3e;
    }



    .top-mobile_menu span:nth-child(2){
        top: 14px;
        right: 22px;
        transform: rotate(45deg);
    }
    .top-mobile_menu span:nth-child(3){
        top: 14px;
        right: 10px;
        transform: rotate(-45deg);
    }
    .top-mobile_menu span:nth-child(4){
        top: 26px;
        right: 22px;
        transform: rotate(-45deg);
    }
    .top-mobile_menu span:nth-child(1){
        top: 26px;
        right: 10px;
        transform: rotate(45deg);
    }
    .center-mobile_menu{
        font-size: 18px;
        font-weight: bold;
        color: #B9B7C0;
    }
    .mobile-list-item{
        position: relative;
        padding: 8px 0;
    }

    .mobile-list-item a{
        position: relative;
        padding: 4px 0;
    }
    .mobile-item_name{
        position: relative;
        transition: color .2s;
    }
    .mobile-item_name::before{
        content: "";
        position: relative;
        top: 15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-left: auto;
        background-color: #3a3747;
        border-radius: 100%;
        transition: background-color .2s;
    }
    .mobile-item_name::after{
        position: absolute;
        content: "";
        top: 70%;
        left: -2px;
        width: 110%;
        height: 4px;
        margin: 0 auto;
        background: #d31c3e;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
        z-index: -1;
    }
    .mobile-item_name:hover{
        transition: color .2s;
        color: #fff;
    }
    .mobile-list-item:hover .mobile-item_name{
        color: #fff;
        transition: color .2s;
    }
    .mobile-list-item:hover .mobile-item_name::before{
        background-color: #fff;
        transition: background-color .2s;
    }
    .mobile-list-item:hover .mobile-item_name::after{
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.25s;
    }

}

@media (max-width: 810px){
    .menu-container{
        max-width: 500px;
    }
}
@media (max-width: 550px){
    /* header{
        min-width: 50%;
        max-width: 100%;
    } */
    .menu-container{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }
}